# Mac
.DS_Store
**/.DS_Store

# Gradle
.gradle/
build/
local.properties
*.iml
.idea/

# Android
stub-project/.idea/
stub-project/local.properties
stub-project/build/
stub-project/app/build/

.env
node_modules/
package-lock.json